:root {
    --SilkWhite : #fff;
    --OffBlack : rgb(14, 13, 13);
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: var(--SilkWhite);
    overflow-x: hidden;
}
*::selection {
    color: white;
    background-color: black;
}
.navContainer {
    display: flex;
    align-items: center;
    background: white;
    position: sticky;
    top: 0px;
    padding: 0px;
    margin: 0px;
    box-shadow:  rgba(0, 0, 0, 0.151) 0px 4px 12px;
}
.navBar {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBar .left {
    margin-left: 8vw;
    color: #000;
    font-family: sans-serif;
}
.navBar .right {
    margin-right: 8vw;
    display: flex;
    align-items: center;
}
.navitem {
    text-decoration: none;
    padding: 8px;
    margin: 8px;
    transition: all 0.5s ease;
    border: solid transparent 3px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    font-family: sans-serif;
}
.navitem:hover {
    border-bottom: solid black 3px;

}
/* open close butten styling */
.bar {
    display: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    background-color: #fff;
    border: 0;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}
.bar:focus {
    outline: 0;
} 
.bar .line {
    background: #000;
    /* display: none; */
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    border-radius: 1.5px;
    transition: transform 0.6s linear;
}

.bar .line2 {
    top: auto;
    bottom: 10px;
}


@media screen and (max-width: 879px) {
    .navContainer {
        height: 70px;
    }
    .bar{
        display: block;
        margin-right: 10vw;
    }
    .right{
        background: #fff;
        position: absolute;
        flex-direction: column;
        margin-right: 0 !important;
        top: 70px;
        right: -200%;
        min-width: 45vw;
        transition: all .6s ease;
        min-height: calc(100vh - 70px);       
    }
    header.active .right {
        right: calc(-10vw - 30px);
    }
}
header.active .bar .line1{
    transform: rotate(-765deg) translateY(5.5px);
}
header.active .bar .line2{
    transform: rotate(765deg) translateY(-5.5px);
}
.hero {
    background: url(../Assets/background.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.mainHeading {
    font-size: 32px;
    padding: 18px;
    padding-bottom: 12px;
    margin: 2px;
}
.tagLine {
    padding: 0px;
    margin: 2px;
}
.contactBtn {
    margin: 32px;
    border: none;
    outline: none;
    padding: 12px;
    width: 110px;
    border-radius: 8px;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 1px;
    box-shadow:inset 4px 4px 8px rgba(0, 0, 0, 0.223);
}
.contactBtn:hover {
    color: #fff;
    background: #818183;
}


.homeSocialLink {
    list-style: none;
    position: absolute;
    left: 4vw;
    bottom: 54px;
    margin: 0;
    padding: 12px;
}
.socialLink {
    margin-bottom: 8px;
}
.homeSocialLink li a,
.homeSocialLink li a:visited {
    color: #fff;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}