:root {
  --SilkWhite: #fff;
  --OffBlack: rgb(14, 13, 13);
}

* {
  box-sizing: border-box;
}
.MissAndViss {
  padding-bottom: 50px;
}
.WhatIsEcel {
  width: 90%;
  margin: auto;
  background: #f3f3f3;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  height: auto;
  min-height: 80vh;
  max-height: fit-content;
  color: var(--OffBlack);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-bottom: 60px;
}

.ecell-div {
  width: auto;
}

.E_cell {
  margin-bottom: 10px;
  width: 100vw;
  margin-top: 30px;
  font-size: xx-large;
  text-decoration: dashed;
  display: inline-flex;
  justify-content: center;
  /* text-align: left !important; */
  align-content: center;
  text-align: center;
}

.E_cell_defination {
  font-size: large;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  font-size: x-large;
  /* text-align: left !important; */
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.MissAndViss span {
  color: gold;
}

.MissAndViss {
  padding-top: 5vh;
  background-image: url('../Assets/background_courses.jpg');
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  height: auto;
  color: white;
  display: flexbox;
}

.viss {
  min-height: 40vh;
  height: auto;
  color: white;
  display: flexbox;
}

.miss {
  min-height: 40vh;
  height: auto;
  color: white;
  display: flexbox;
}

.vision {
  font-size: xx-large;
  width: 100%;
  font-size: xx-large;
  display: flex;
  text-decoration: dashed;
  display: inline-flex;
  justify-content: center;
  text-align: center !important;
  align-content: center;
}

.mission {
  width: 100%;
  font-size: xx-large;
  text-decoration: dashed;
  display: inline-flex;
  justify-content: center;
  text-align: center !important;
  align-content: center;
}

.viss_details {
  font-size: large;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  text-align: center !important;
  margin-left: 15%;
  font-size: x-large;
  margin-right: 15%;
}

.miss_details {
  font-size: large;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  text-align: center !important;
  margin-left: 15%;
  margin-right: 15%;
  font-size: x-large;
}

.start {
  margin-top: 20px;
  margin-bottom: 20px;
}
.start .container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.container .card {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .card i {
  color: #fff;
  font-size: 50px;
}

.container .card p.counter {
  font-size: 60px;
  margin: 5px;
}

.container .card p.label {
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .card {
    padding: 20px;
  }
}