:root {
    --SilkWhite : rgb(246, 235, 235);
    --OffBlack : rgb(14, 13, 13);
}
*{
    box-sizing: border-box;
}
.background img{
    position: absolute;
    position: fixed;
    z-index: -1;
    width: 100vw;
    min-height: 100%;
}
.WhatIsEcel{
    display: flex;
    height: auto;
    min-height: 80vh;
    max-height:fit-content;
    color: var(--OffBlack);
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 10vh;
    
}
.ecell-div{
    width: auto;
}
.E_cell{

    color: white;
    margin-bottom: 40px;
    width: 100vw;
    margin-top: 30px;
   font-size: xx-large;
   text-decoration: dashed;
   display: inline-flex;
   justify-content: center;
   text-align:left !important;
   align-content: center;
}

.E_cell_defination{
    color: white;
   font-size: large;
   display: inline-flex;
   justify-content: center;
   align-content: center;
   font-size: x-large;
   text-align: left !important;
   margin-left: 15%;
   margin-right: 15%;
}
.E_cell span{
    color: gold;
}
.MissAndViss{
    background-color: gray;
    min-height: 80vh;
    height: auto;
    color: var(--OffBlack);
    display: flexbox;
}
.viss{
    
    min-height: 40vh;
    height: auto;
    color: var(--OffBlack);
    display: flexbox;
}

.miss{
    min-height: 40vh;
    height: auto;
    color: var(--OffBlack);
    display: flexbox;
}
.vision{
    font-size: xx-large;
    margin-bottom: 40px;
    width: 100%;
   font-size: xx-large;
   display: flex;
   text-decoration: dashed;
   display: inline-flex;
   justify-content: center;
   text-align: center !important;
   align-content: center;
}
.mission{
    margin-bottom: 40px;
    width: 100%;
   font-size: xx-large;
   text-decoration: dashed;
   display: inline-flex;
   justify-content: center;
   text-align: center !important;
   align-content: center;
}

.viss_details {
    font-size: large;
   display: inline-flex;
   justify-content: center;
   align-content: center;
   text-align: center !important;
   margin-left: 15%;
   font-size: x-large;
   margin-right: 15%;
}
.miss_details{
    font-size: large;
   display: inline-flex;
   justify-content: center;
   align-content: center;
   text-align: center !important;
   margin-left: 15%;
   margin-right: 15%;
   font-size: x-large;
}


.animation div{
    height:0vh;
    background-color: gold;
    width:10px;
    position: absolute;
    left: 10%;
}
